.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Licenses
Licenses.swift
releases/

Tests/**/Package.resolved
Tests/**/.swiftpm
Tests/**/.build
