--swiftversion 6.0
--indent 4
--indentcase false
--stripunusedargs closure-only

--disable redundantSwiftTestingSuite

--exclude .build
--exclude .swiftpm
--exclude "**/.build/**"
--exclude "**/.swiftpm/**"
